<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>colorName</key>
		<string>Magenta</string>
		<key>swatchFilename</key>
		<string>0xc400c4.png</string>
		<key>rgbValue</key>
		<string>12845252</string>
	</dict>
	<dict>
		<key>colorName</key>
		<string>Orange</string>
		<key>swatchFilename</key>
		<string>0xff5c00.png</string>
		<key>rgbValue</key>
		<string>16735232</string>
	</dict>
	<dict>
		<key>colorName</key>
		<string>Turquoise</string>
		<key>swatchFilename</key>
		<string>0x009d9d</string>
		<key>rgbValue</key>
		<string>40349</string>
	</dict>
	<dict>
		<key>colorName</key>
		<string>Gold</string>
		<key>swatchFilename</key>
		<string>0xe1a10b.png</string>
		<key>rgbValue</key>
		<string>14786827</string>
	</dict>
	<dict>
		<key>colorName</key>
		<string>Blue</string>
		<key>swatchFilename</key>
		<string>0x0000ff.png</string>
		<key>rgbValue</key>
		<string>255</string>
	</dict>
	<dict>
		<key>colorName</key>
		<string>Green</string>
		<key>swatchFilename</key>
		<string>0x00b800.png</string>
		<key>rgbValue</key>
		<string>47104</string>
	</dict>
	<dict>
		<key>colorName</key>
		<string>Red</string>
		<key>swatchFilename</key>
		<string>0xb80000.png</string>
		<key>rgbValue</key>
		<string>12058624</string>
	</dict>
	<dict>
		<key>colorName</key>
		<string>Black</string>
		<key>swatchFilename</key>
		<string>0x000000.png</string>
		<key>rgbValue</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
